In [1]:
a={"stephen":100,"age":34,"country":"uk","academics":"phd"}

a

{'stephen': 100, 'age': 34, 'country': 'uk', 'academics': 'phd'}

In [2]:
a["age"]

34

In [3]:
a["academics"]

'phd'

In [4]:
b={"names":["ste","ede","nis","hass"]}

In [5]:
b

{'names': ['ste', 'ede', 'nis', 'hass']}

In [6]:
b["names"]

['ste', 'ede', 'nis', 'hass']

In [7]:
c={"names":{"male":["ste","rupal","edi"],"female":["nistha","sonali","anjali"]}}

In [9]:
c["names"]["female"]

['nistha', 'sonali', 'anjali']

In [19]:
di1={"key1":"IIT","key2":"datascience","key1":"BIGDATA"}
di1

{'key1': 'BIGDATA', 'key2': 'datascience'}

In [ ]:
di1={"key1":"IIT","key2":"datascience","key3":"ritesh"}
di1
di1={"key1":"IIT","key2":"datascience","key1":"ritesh"}
di1


di={"NAME":"ert"}
di
di={"Key23":["ert","tyyu"]}
di



ert={'course':["digital","data science"],"NAMES":["NIS","SHI"],'course':[23,45]}

ert["course"]=["digital","data science"]
ert

ert["course_code"]=[23,45]
ert

In [20]:
ert={'course':["digital","data science"],"NAMES":["NIS","SHI"]}
ert

{'course': ['digital', 'data science'], 'NAMES': ['NIS', 'SHI']}

In [21]:
ert['marks']=[23,89,78,78]

In [24]:
ert["hello"]="everyone"

ert

{'course': ['digital', 'data science'],
 'NAMES': ['NIS', 'SHI'],
 'marks': [23, 89, 78, 78],
 'hello': 'everyone'}

In [ ]:
ert
ert["marks"]
ert["marks"]=[100,200,300]

ert

In [25]:
car_model1={"creta":2015}
car_model2={"BMW":2018}
car_model3={"audi":2016}

In [26]:
car_model1

{'creta': 2015}

In [27]:


dic1={"car1":car_model1,"car2":car_model2,"car3":car_model3}
dic1

{'car1': {'creta': 2015}, 'car2': {'BMW': 2018}, 'car3': {'audi': 2016}}

In [29]:
dic1["car3"]["audi"]

2016

In [ ]:
#..............................................Dictionary.......................................
# Dictionary has bifurcated into 4 parts

# 1) construction of dictionary
# 2) accessing objects from dictionary
# 3) Nesting Dictionary
# 4) Basic Dictionary methods

#----------------------------------------------Rule no.1------------------------------------
# Representation of sets and dictionary are same but objects would store in dictionary,should be in the form of keys and values
# but in sets can be ordered and unordered sequence of objects.







a={1:2,1:3}
a


di={"key1":"value1","key2":"value2"}
type(di)
#--------------------------------------------Rule no.2----------------------------------------
# keys should be unique and cannot be a list means keys merely belongs to primitive data type like string,int,float,boolean.



#--------------------------------------accessing elements---------------------------------
# to access keys in a dictionary
ert.keys()

ert.values()


di1["key3"]
ert.items()
#-----------------------------------adding new key and value-----------------------------------
di1["key3"]="new key"
di1



#---------------------------------------------nested dictionary-------------------------------

dictionary_nested = {"IIT":{"Deep Learning": "Python", "Machine Learning": "Pandas"},"linkedin":"jobs","nvidia":"hardware"}
dictionary_nested["IIT"]["Machine Learning"]

dictionary_nested["IIT"]["Deep Learning"]



di2={"key1":"skillcircle","key2":"datascience","key3":"artifical intelligence"}
di2
di2={"institute":"skillcircle","courses":{"data science":"supervised","clustering":"unsupervised"}}
di2
di2["institute"]
di2["courses"]["clustering"]

di2





dic1["car2"].keys()





    
di={"names":"value"} 
di.keys()

In [32]:
a = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
a.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)])

In [33]:
a = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
a.keys()

dict_keys([1, 2, 3, 4, 5])

In [34]:
b=a.pop(3)
b

9

In [36]:
marks = {}.fromkeys(['Math', 'English', 'Science'],[10,9,4])
marks

{'Math': [10, 9, 4], 'English': [10, 9, 4], 'Science': [10, 9, 4]}

In [10]:
a={"name":["tanaya","vaisnavi","raj"]}

In [12]:
a["age"]=[23,24,25]

In [16]:
b={"acad":["grad","ps","phd"],"gender":["f","f","m"]}

In [17]:
a.update(b)

In [18]:
a

{'name': ['tanaya', 'vaisnavi', 'raj'],
 'age': [23, 24, 25],
 'names': ['ste', 'ede', 'nis', 'hass'],
 'acad': ['grad', 'ps', 'phd'],
 'gender': ['f', 'f', 'm']}

In [ ]:
#.............................................IMPORTANT FUNCTIONS..................................

a = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
a.keys()
a.values()
#-------------------------------------POP( to remove key and value)-------------------------------
b=a.pop(3)
b

a

a.popitem()
a

#--------------------------------------CLEAR( TO CLEAR WHOLE DICT)--------------------------------
a.clear()
a


#----------------------------------------------FROM KEYS-------------------------------------------
marks = {}.fromkeys(['Math', 'English', 'Science'],9)
marks

keys = ['a', 'e', 'i', 'o', 'u' ]
values=[1,2,3,4,5]
vowels = dict.fromkeys(keys,values)
vowels

t={1,2,3,4,5,6,[1,2,3,4]}
#-------------------------------------------------UPDATE DICTIONARY--------------------------------------
d = {1: "one", 2: "three"}

d


d1 = {2: "two"}
d.update(d1)
d

d1 = {3: "three",4:"four"}
d.update(d1)
d

d[4,4]= ["three","four"]

d

list(d.keys())[2][0]
#----------------------------------------------------------GET FUNCTION-----------------------------------
d.get(2)

In [37]:
ert

{'course': ['digital', 'data science'],
 'NAMES': ['NIS', 'SHI'],
 'marks': [23, 89, 78, 78],
 'hello': 'everyone'}

In [38]:
ert["python"]="dictionary"

In [39]:
ert

{'course': ['digital', 'data science'],
 'NAMES': ['NIS', 'SHI'],
 'marks': [23, 89, 78, 78],
 'hello': 'everyone',
 'python': 'dictionary'}

In [44]:
ert.update({"spyfder":"kdgfg","anaconda":123,"pycharm":56674})

In [45]:
ert

{'course': ['digital', 'data science'],
 'NAMES': ['NIS', 'SHI'],
 'marks': [23, 89, 78, 78],
 'hello': 'everyone',
 'python': 'dictionary',
 'spyfder': 'kdgfg',
 'anaconda': 123,
 'pycharm': 56674}

In [1]:
data={'name':['yuvi','dharani','Amora','Anitra'], 'Desig' : ['TL3','TL1','G4','KG'],'gender':['M','F','F','F']}

In [3]:
import polars as pl
df = pl.DataFrame(data)
df.head()

shape: (4, 3)
┌─────────┬───────┬────────┐
│ name    ┆ Desig ┆ gender │
│ ---     ┆ ---   ┆ ---    │
│ str     ┆ str   ┆ str    │
╞═════════╪═══════╪════════╡
│ yuvi    ┆ TL3   ┆ M      │
│ dharani ┆ TL1   ┆ F      │
│ Amora   ┆ G4    ┆ F      │
│ Anitra  ┆ KG    ┆ F      │
└─────────┴───────┴────────┘

In [5]:
import pandas as pd
df_pd = pd.DataFrame(data)
df_pd.head()

      name Desig gender
0     yuvi   TL3      M
1  dharani   TL1      F
2    Amora    G4      F
3   Anitra    KG      F

In [27]:
#Two Sum Function - time complexity O(n) solution.
from typing import List
def two_sum(coll:List, target:int):
    temp_dict = {}
    for i,n in enumerate(coll):
        ele = target - n
        print(ele)
        if ele in temp_dict.keys():
            return (temp_dict[ele],i)
        else:
            temp_dict[n] = i
    return (-1,-1)

In [15]:
data_coll = [2,3,5,9,11]
target = 8
print(two_sum(data_coll, target))

6
5
3
(1, 2)

In [23]:
import random
nums = [random.randint(1, 10000) for _ in range(1_000_000)]
print(nums[:10])
print(nums[:-11:-1])

[1432, 9834, 2060, 1498, 8279, 3116, 1940, 4948, 2448, 835]
[3923, 9989, 6663, 4854, 7095, 7682, 3217, 6731, 1156, 8092]

In [25]:
print(two_sum(nums, 8927))

7495
-907
6867
7429
648
5811
6987
3979
6479
8092
7901
2338
-534
3418
3266
7774
6157
-1065
4795
1092
5177
7258
1072
7608
4268
-97
6830
1685
-627
676
6888
5930
6798
7744
5466
5056
2679
-728
8736
3033
2493
466
2684
7008
-851
245
-316
4628
5255
1876
1894
4875
-102
6833
5956
7607
8332
1809
5605
8569
2569
2012
858
8472
2229
7554
-794
1268
926
3504
3267
7625
-315
2614
3137
-180
5583
2576
6370
4343
2813
8909
7789
7156
7731
4743
4534
1038
5231
5074
5361
5242
2978
4702
6430
333
-242
-479
5548
3570
-1005
8306
8761
4515
2503
2550
-367
8749
3096
60
7557
4463
6430
7547
5097
5934
2303
1407
7105
4832
5924
1555
4891
2234
2313
5994
7609
6493
1410
573
2328
7739
8219
1240
3792
3776
3995
5775
6972
7119
3418
8908
1035
-446
1759
4358
3743
1923
-766
5587
1033
7125
2381
8019
5779
3543
-674
5499
7889
(87, 158)

In [26]:
print(nums[87], nums[158])

7889 1038

In [30]:
from itertools import zip_longest
list1 = ['a','b','c']
list2 = ['1','2']

zip_list = list(zip_longest(list1,list2))

print(zip_list)

[('a', '1'), ('b', '2'), ('c', None)]