# -------------------------Iterator loops (FOR )---------------------------------

In [3]:


a=[1,5,10,42,67,45,23,40,565,6,7,3,5,6,7,4,4,7,7,4,4]

for anup in a:
    print(anup,end="\n")

1
5
10
42
67
45
23
40
565
6
7
3
5
6
7
4
4
7
7
4
4

In [4]:

st="iitmadaras"
for t in st:
    print(t)

i
i
t
m
a
d
a
r
a
s

In [ ]:
# -------ITERATOR FOR LOOPS WITH CONDITIONS----

In [5]:
a=[1,2,3,4,5,6,10,21,34]


for i in a:
    if i%2==0:
        print(i)

2
4
6
10
34

In [61]:
a="ITERATOR FOR LOOPS WITH CONDITIONS"

In [62]:
a=a.lower()

In [63]:


v=["a","i","e","o","u"]
c=""
    
    
for i in c.join(a.split()):
    if i not in v :
        print(i, end="")

trtrfrlpswthcndtns

In [30]:
    
word="hello1" 

for w in word:
    if w=="e":
        print("hello")
    print(w)

h
hello
e
l
l
o
1
1

In [31]:
print(w)

1

In [32]:
name="arpit"    

    
    
for i in name:
    if i=="p":
        print("that's great")
    print(i)
    print("hello")
    
    
print(i)

a
hello
r
hello
that's great
p
hello
i
hello
t
hello
t

In [33]:

a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i%2==0:
        print("even",i)
    print("good")

good
even 2
good
good
even 4
good
good
even 6
good
good
even 8
good
good

# ----------------------------STORE VALUE LOOP-------------------------

In [37]:
l=[1,2,3,1,5,7,4,11,33,21,2,4,6,8]

sums=0
for i in l:
    sums+=i
print(sums)

108

In [7]:

l=[1,.5,1,2.5,1.5,1,2,3]

vessel=0
for i in l:
    vessel=vessel+i
print(vessel)

12.5

In [8]:
l=[1,.5,1,2.5,1.5,1,2,3]
# variable to store the sum
vessel_even=0
vessel_odd=0
for i in l:
    if i%2==0:
        vessel_even=vessel_even+i
        print(vessel_even,"vessel_even")
    else:
        vessel_odd=vessel_odd+i
        print(vessel_odd,"vessel_odd")

1 vessel_odd
1.5 vessel_odd
2.5 vessel_odd
5.0 vessel_odd
6.5 vessel_odd
7.5 vessel_odd
2 vessel_even
10.5 vessel_odd

# ----------------------------RANGE FUNCTION--------------------

In [ ]:
range(start,stop(N-1),jump or direction)

In [12]:

list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
list(range(20,-1,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
for i in range(100,201):
    if i%2==0:
        print("my no.{} is even".format(i))
    else:
        print("{} is odd".format(i))

my no.100 is even
101 is odd
my no.102 is even
103 is odd
my no.104 is even
105 is odd
my no.106 is even
107 is odd
my no.108 is even
109 is odd
my no.110 is even
111 is odd
my no.112 is even
113 is odd
my no.114 is even
115 is odd
my no.116 is even
117 is odd
my no.118 is even
119 is odd
my no.120 is even
121 is odd
my no.122 is even
123 is odd
my no.124 is even
125 is odd
my no.126 is even
127 is odd
my no.128 is even
129 is odd
my no.130 is even
131 is odd
my no.132 is even
133 is odd
my no.134 is even
135 is odd
my no.136 is even
137 is odd
my no.138 is even
139 is odd
my no.140 is even
141 is odd
my no.142 is even
143 is odd
my no.144 is even
145 is odd
my no.146 is even
147 is odd
my no.148 is even
149 is odd
my no.150 is even
151 is odd
my no.152 is even
153 is odd
my no.154 is even
155 is odd
my no.156 is even
157 is odd
my no.158 is even
159 is odd
my no.160 is even
161 is odd
my no.162 is even
163 is odd
my no.164 is even
165 is odd
my no.166 is even
167 is odd
my no.168 is even
169 is odd
my no.170 is even
171 is odd
my no.172 is even
173 is odd
my no.174 is even
175 is odd
my no.176 is even
177 is odd
my no.178 is even
179 is odd
my no.180 is even
181 is odd
my no.182 is even
183 is odd
my no.184 is even
185 is odd
my no.186 is even
187 is odd
my no.188 is even
189 is odd
my no.190 is even
191 is odd
my no.192 is even
193 is odd
my no.194 is even
195 is odd
my no.196 is even
197 is odd
my no.198 is even
199 is odd
my no.200 is even

In [ ]:
l1=[24,3,587,98,12,90]



for i in range(len(l1)-1,-1,-1):
    print(l1[i])

# --------------------INPUT FUNCTION-------------

In [19]:
a=int(input("enter your number :"))

enter your number :89

In [20]:
a

89

In [24]:
country_list=[]
for i in range(6):
    country_name=input("enter your country : ")
    country_list.append(country_name)

enter your country : india
enter your country : india
enter your country : india
enter your country : india
enter your country : india
enter your country : india

In [25]:
country_list

['india', 'india', 'india', 'india', 'india', 'india']