# ______________________________LAMBDA FUNCTION_________________

lambda arguments : expression

In [3]:
a=lambda a : a + 10
a(5)

15

In [2]:
z=lambda a, b, c : a + b + c

z(1,2,3)

6

In [8]:

hassan=lambda x:x+2

In [9]:
hassan(100)

102

In [14]:
ismail=lambda a, b,c : a+b*c

ismail(7339,838,453)

386953

In [18]:
a=10

if a%2==0:
    print(a)

10

# ........... IF & ELSE CONDITION WITH LAMBDA..............

In [4]:
a=lambda x: x*2 if x%2==0 else x

In [5]:
a(10)

20

In [6]:
a=[]
def addition(n):
    for i in n:
        a.append(i+i)
    return a
 
number=[1,2,3,4]
addition(number)

[2, 4, 6, 8]

# ___________ MAP FUNCTION_______________

Syntax:
    
    map(fun, iter)

PARAMETERS:-
    
fun : It is a function to which map passes each element of given iterable.
    
iter : It is a iterable which is to be mapped.

In [7]:
a=[]
def addition(n):
    for i in n:
        a.append(i+i)
    return a
 
number=[1,2,3,4]
addition(number)

[2, 4, 6, 8]

In [9]:
def addition(n):
    return(n+n)

In [10]:
number=[1,2,3,4]

In [14]:
list(map(lambda x : x+x, number))

[2, 4, 6, 8]

In [11]:
def even(num):
    result=[]
    for i in num:
        if i%2==0:
            result.append(i)
    return result


even(lis)

[2, 4, 6]

In [17]:
lis=[1,2,3,4,5,6]

In [19]:
def even(num):
    if num%2==0:
        return( num)
    
    
a=list(map(even,lis))
a

[None, 2, None, 4, None, 6]

In [20]:
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
numbers3=[1,3,4]

def tyre(a,b,d):
    c=[]
    for i,j,k in zip(a,b,d):
       c.append(i+j+k)
    return c

tyre(numbers1,numbers2,numbers3)

[6, 10, 13]

In [ ]:
def hello(a,b,c):
    return( a+b+c)

In [21]:
result = map(lambda x, y,z: x + y +z, numbers1, numbers2,numbers3)
list(result)

[6, 10, 13]

# EXAMPLES

In [22]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

result = []
def upper_case(num):
    
    for i in num:
        a = i.upper()
        result.append(a)
    return(result)

b=upper_case(my_pets)
b

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [23]:
list(map(lambda x: x.upper(),my_pets))

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [24]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1,2,3,4,5]

results = list(map(lambda x, y: (x, y), my_strings, my_numbers))
list(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

# 
#______________FILTER______________

Syntax

    filter(function, iterable)
    
filter() method returns an iterator that passed the function check for each element in the iterable.

In [27]:



scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_student(score):
    return score > 75

over_75 = list(filter(is_student, scores))
over_75

[90, 76, 88, 81]

In [28]:
def even_odd(num):
    if num%2==0:
        return True

lf=[1,2,3,4,5,6,7,8]
list(filter(even_odd,lf))

[2, 4, 6, 8]

In [30]:
b="madam"

In [31]:
b[::-1]

'madam'

In [32]:


dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")

palindromes = list(filter(lambda a: a == a[::-1], dromes))
palindromes

['madam', 'anutforajaroftuna']

In [34]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: (x%2 == 0) , my_list))
new_list

[False, False, True, True, True, False, False, True]

In [35]:



li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
final_list

[5, 7, 97, 77, 23, 73, 61]

In [39]:
a=False

In [42]:
b=False

In [43]:
a+b

0

In [36]:
randomList = [1, 'a', 0, False, True, '0']

filteredList = filter(None, randomList)
list(filteredList)

[1, 'a', True, '0']