# -------------------------------BUILT- IN DATA STRUCTURE----------------------------

## LISTS

## STRINGS

##  SETS

## DICTIONARIES

## TUPLES

# ...................................Lists................................

## List is an ordered sequence of elements OR objects

In [1]:
q=[1,2,3,4.5,True,2+1j]
q

[1, 2, 3, 4.5, True, (2+1j)]

In [2]:
type(q)

list

In [4]:

names=["abdul","sonali","stephen","gracias","anjali"]

In [5]:
names

['abdul', 'sonali', 'stephen', 'gracias', 'anjali']

In [6]:
names[0]

'abdul'

In [7]:
names[2]

'stephen'

In [8]:
names[4]

'anjali'

In [10]:
a=1,2,3,4,5,6
a

(1, 2, 3, 4, 5, 6)

In [11]:
type(a)

tuple

In [12]:
list((10,20))

[10, 20]

In [13]:
b=["eshank","sonali,gracias"]

In [14]:
type(b)

list

In [15]:
a= "eshank","sonali"

In [16]:
a

('eshank', 'sonali')

In [19]:
list(a)

['eshank', 'sonali']

In [17]:
list(a)

['eshank', 'sonali']

In [16]:
b="eshank"

In [17]:
["eshank"]

['eshank']

In [20]:
list(("eshank","stephen"))

['eshank', 'stephen']

In [16]:
a=1,2,3,4,5,6,7

In [19]:
[1]

[1]

In [20]:
list(1)

TypeError: 'int' object is not iterable

In [10]:
list(a)

[1, 2, 3, 4, 5, 6]

In [18]:
b="stephen"

In [23]:
list(b)

['s', 't', 'e', 'p', 'h', 'e', 'n']

In [24]:
["stephen"]

['stephen']

In [28]:
[]

['sonali', 'stephen', 'edi', 'john']

In [23]:
a="sonali","stephen","edi","john"

In [25]:
a

('sonali', 'stephen', 'edi', 'john')

In [24]:
list(a)

['sonali', 'stephen', 'edi', 'john']

In [31]:
b="sonali","stephen","edi","john"
b

('sonali', 'stephen', 'edi', 'john')

In [32]:
list(b)

['sonali', 'stephen', 'edi', 'john']

In [ ]:
# .........................INDEXING............................

## two types of indexing 

# a) forward indexing ( 0,1,2,3,4,5,6,7,8)

# b) backward indexing( -1,-2,-3,-4,-5,-6)

# forward indexing ( 0,1,2,3,4,5,6,7,8)

In [1]:
l=["skill",23,45,23,98,1000,765,1,2,3,4,5,6,7,8,910,'a',"nish"]


l

['skill', 23, 45, 23, 98, 1000, 765, 1, 2, 3, 4, 5, 6, 7, 8, 910, 'a', 'nish']

In [2]:
len(l)

18

In [3]:
l[18]

IndexError: list index out of range

In [4]:
l[10]

4

In [5]:
len(l)

18

In [6]:
l[17]

'nish'

In [7]:
l[18]

IndexError: list index out of range

In [8]:
l[20]

IndexError: list index out of range

# ..................................  SLICING........................

# SYNTAX-- l[startpoint(index_value) : endpoint(n-1) : jump or direction]

In [9]:
l

['skill', 23, 45, 23, 98, 1000, 765, 1, 2, 3, 4, 5, 6, 7, 8, 910, 'a', 'nish']

In [10]:
l[1:9:2]

[23, 23, 1000, 1]

###

# --------------------------------JUMP---------------------------------

#--------+ve direction jump------------------------------------------

In [44]:
l

['skill', 23, 45, 23, 98, 1000, 765, 1, 2, 3, 4, 5, 6, 7, 8, 910, 'a', 'nish']

# -------------------------------------BACKWARD SLICING----------------

#SYNTAX [ STARTPOINT : END POINT : JUMP OR DIRECTION]

In [33]:
q=["v","m","g","a","e","k"]

q

['v', 'm', 'g', 'a', 'e', 'k']

In [40]:
q[0]

'v'

In [38]:
q[-6]

'v'

In [59]:
q=["v","m","g","a","e","k"]

q[::-1]

['k', 'e', 'a', 'g', 'm', 'v']

In [52]:
l

['skill', 23, 45, 23, 98, 1000, 765, 1, 2, 3, 4, 5, 6, 7, 8, 910, 'a', 'nish']

In [53]:
l[-1:-5:-1]

['nish', 'a', 910, 8]

In [54]:
l[2:9:-1]

[]

# --------------------------------NESTED LIST-------------------------

In [30]:
l=["n","a","m",[1,2,3],"abhi","nitin"]

l

['n', 'a', 'm', [1, 2, 3], 'abhi', 'nitin']

In [32]:
l[3][1]

2

# _____________________________MUTABILITY___________________________

In [33]:
l

['n', 'a', 'm', [1, 2, 3], 'abhi', 'nitin']

In [34]:
l[3]="hasan"
l

['n', 'a', 'm', 'hasan', 'abhi', 'nitin']

# -------------------SELF-DEFINED FUNCTIONS FOR LIST------------

# -----------------------append function---------------------

In [35]:
q

[1, 2, 3, 4.5, True, (2+1j)]

In [37]:
q.append([10,20,30])
q

[1, 2, 3, 4.5, True, (2+1j), [10, 20, 30]]

In [56]:
a=["anjali","stephen","vijay","gracias"]

In [58]:
q.append(["anjali","stephen","vijay","gracias"])
q

['v',
 'm',
 'g',
 'a',
 'e',
 'k',
 'eshank',
 10,
 ['anjali', 'stephen', 'vijay', 'gracias']]

In [38]:
q.append()
q

['v', 'm', 'g', 'a', 'e', 'k', 'hasan', ['hasan', 'stephen']]

# #.............................extend fuction( to add a list).....................

In [38]:
q

[1, 2, 3, 4.5, True, (2+1j), [10, 20, 30]]

In [39]:

q.extend(["hasan","stephen"])


q

[1, 2, 3, 4.5, True, (2+1j), [10, 20, 30], 'hasan', 'stephen']

In [40]:
q.extend("ritesh")
q

[1,
 2,
 3,
 4.5,
 True,
 (2+1j),
 [10, 20, 30],
 'hasan',
 'stephen',
 'r',
 'i',
 't',
 'e',
 's',
 'h']

# -----------------------------------------REMOVE---------
#syntax: l.remove(object)

In [41]:
l

['n', 'a', 'm', 'hasan', 'abhi', 'nitin']

In [42]:
l.remove("hasan")

In [43]:
l

['n', 'a', 'm', 'abhi', 'nitin']

# ....................................insert................................
# SYNTAX:-  variable.insert (index,datatype)

In [44]:
l

['n', 'a', 'm', 'abhi', 'nitin']

In [47]:
l[1]="leena"

In [48]:
l

['n', 'leena', 'a', 'taimi', 'm', 'abhi', 'nitin']

In [46]:

l
l.insert(3,"taimi")
l

['n', 'raza', 'a', 'taimi', 'm', 'abhi', 'nitin']

# -------------------------------SUBSITITUTION(MUTABLE)--------------------

In [70]:
l

['n', 'raza', 'a', 'm', 'abhi', 'nitin']

In [71]:

l[3]=1
l

['n', 'raza', 'a', 1, 'abhi', 'nitin']

# ...........................reverse.........................

In [49]:
l

['n', 'leena', 'a', 'taimi', 'm', 'abhi', 'nitin']

In [50]:

l.reverse()
l

['nitin', 'abhi', 'm', 'taimi', 'a', 'leena', 'n']

In [51]:
l[::-1]

['n', 'leena', 'a', 'taimi', 'm', 'abhi', 'nitin']

# ............................sort.......................

In [52]:
l=[2,1,6,78,32,14,23,78,98,0,54,14,39,45,2,9,2,3,2]
l.sort()
l

[0, 1, 2, 2, 2, 2, 3, 6, 9, 14, 14, 23, 32, 39, 45, 54, 78, 78, 98]

In [53]:
l.sort(reverse=True)

In [54]:
l

[98, 78, 78, 54, 45, 39, 32, 23, 14, 14, 9, 6, 3, 2, 2, 2, 2, 1, 0]

In [55]:
l=["a","g","es",23,56,100,"c","esh","w","o","es",10,20,30,"pr","es"]
l.sort()
l

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
a=5.1,5.2,5.3

In [118]:
l=[2,1,6,78,32,14,23,78,98,0,54,14,39,45,2,9,2,3,2]
l.sort(reverse=True)
l

[98, 78, 78, 54, 45, 39, 32, 23, 14, 14, 9, 6, 3, 2, 2, 2, 2, 1, 0]

In [82]:
l=["a","c","c","w","h"]
l.sort(reverse=True)
l

['w', 'h', 'c', 'c', 'a']

# .............................pop...............................
# syntax variable.pop(index)

In [56]:

l

['a',
 'es',
 'g',
 23,
 56,
 100,
 'c',
 'esh',
 'w',
 'o',
 'es',
 10,
 20,
 30,
 'pr',
 'es']

In [57]:
l

['a',
 'es',
 'g',
 23,
 56,
 100,
 'c',
 'esh',
 'w',
 'o',
 'es',
 10,
 20,
 30,
 'pr',
 'es']

In [59]:
l

['a', 'g', 23, 56, 100, 'c', 'esh', 'w', 'o', 'es', 10, 20, 30, 'pr', 'es']

In [58]:
l.pop(1)

'es'

# .............................count.........................
# syntax l.count(object)

In [60]:
l

['a', 'g', 23, 56, 100, 'c', 'esh', 'w', 'o', 'es', 10, 20, 30, 'pr', 'es']

In [61]:

l.count("es")

2

# ...............................length...............................
#syntax len(varaible name)

In [91]:

len(l)

4

# ................................index.................................
#syntax l.index( object name)

In [63]:

l=[2,1,6,78,32,14,23,78,98,0,54,14,39,45,2,9,14,78,2,3,2]

In [68]:
l.index(78,8)

17

In [69]:
def index_func(a,b):
    r=[]
    for i ,j in zip(a,range(len(a))):
        if i==b:
            r.append(j)
    return r

In [70]:
index_func(l,78)

[3, 7, 17]

In [99]:
l

[2, 1, 6, 78, 32, 14, 23, 78, 98, 0, 54, 14, 39, 45, 2, 9, 14, 78, 2, 3, 2]

In [100]:
l.index(14)

5

In [101]:
l[5]="eshank"

In [102]:
l

[2,
 1,
 6,
 78,
 32,
 'eshank',
 23,
 78,
 98,
 0,
 54,
 14,
 39,
 45,
 2,
 9,
 14,
 78,
 2,
 3,
 2]