# ----------  List Comprehension vs For Loop in Python-----------------

In [35]:
a=[1,3,2,14,6,3,2,6,7,8,2,7,6,5,6,7,86,2,3,4,2]

In [23]:
a

[1, 3, 2, 4, 6, 3, 2, 6, 7, 8, 2, 7, 6, 5, 6, 7, 86, 2, 3, 4, 2]

In [29]:

def even_value(num):
    even=[]
    for i in num:
        if i%2==0:
            even.append(i*i) 
        
    return even

In [30]:
even_value(a)

[4, 16, 36, 4, 36, 64, 4, 36, 36, 7396, 4, 16, 4]

In [38]:
e=[i for i in a if i%2==0 if i%7==0]

In [39]:
e

[14]

In [31]:
[i*i for i in a if i%2==0]

[4, 16, 36, 4, 36, 64, 4, 36, 36, 7396, 4, 16, 4]

[4, 7, 12, 14]

In [18]:
for i in a:

if i==2:

2

In [2]:

h_letters = []

for letter in 'bhushan':
    h_letters.append(letter)

h_letters

['b', 'h', 'u', 's', 'h', 'a', 'n']

In [4]:
a="eshank"

In [8]:
w=[i+i for i in a]

In [9]:
w

['ee', 'ss', 'hh', 'aa', 'nn', 'kk']

In [20]:
"hassan"*3

'hassanhassanhassan'

In [32]:


A = [ i*i for i in [1,2,3,4,5,6] ]
A

[1, 4, 9, 16, 25, 36]

In [11]:

num1=[]
def square(num):
    for i in num:
        num1.append(i*i)
    return num1

ls=[1,2,3,4,5,6]
square(ls)
num1

[1, 4, 9, 16, 25, 36]

In [12]:


[i*3 for i in [1,2,3,4,5,6]]

[3, 6, 9, 12, 15, 18]

In [34]:


[i*i for i in [2,3,4,5,6,7,8,10] if i%2==0]

[4, 16, 36, 64, 100]

In [ ]:
_______________________________________Nested IF with List COMPREHENSION_______________________________________________

Here, list comprehension checks:

Is y divisible by 2 or not?
Is y divisible by 7 or not?
If y satisfies both conditions, y is appended to num_list.

In [ ]:
df.loc[(df["salary"]<100000) & (df["gender"]=="female")]

In [40]:




num_list = [y for y in range(100) if y % 2 == 0 if y % 7 == 0]
num_list

[0, 14, 28, 42, 56, 70, 84, 98]

In [ ]:
____________if...else With List Comprehension__________________________________

In [42]:

obj = [i if i%2==0   else "odd" for i in range(10)]
obj

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [49]:
for i in range(10):
    print(i,end=" ")
print("hello")
print("good")

0 1 2 3 4 5 6 7 8 9 hello
good

In [50]:
for i in range (10):
    for j in range (5):
        print(i*j , end =" ")
    print()

0 0 0 0 0
0 1 2 3 4
0 2 4 6 8
0 3 6 9 12
0 4 8 12 16
0 5 10 15 20
0 6 12 18 24
0 7 14 21 28
0 8 16 24 32
0 9 18 27 36

0 0 0 0 0
0 1 2 3 4
0 2 4 6 8
0 3 6 9 12
0 4 8 12 16
0 5 10 15 20
0 6 12 18 24
0 7 14 21 28
0 8 16 24 32
0 9 18 27 36

In [24]:
matrix=[[1,2,3,4],[5,6,7,8]]

In [25]:
type(matrix)

list

# NESTED FOR LOOP IN LIST COMPREHENSION

In [58]:
for i in range(5):
    for j in range(2):
        print(i*j,end=" ")
    print()

0 0
0 1
0 2
0 3
0 4

In [61]:
a=[ [i*j for j in range(2)] for i in range (5)]

In [62]:
a

[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4]]

AttributeError: 'list' object has no attribute 'shape'

In [37]:
[[j*i for j in range(5)] for i in range(10)]

[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 6, 8],
 [0, 3, 6, 9, 12],
 [0, 4, 8, 12, 16],
 [0, 5, 10, 15, 20],
 [0, 6, 12, 18, 24],
 [0, 7, 14, 21, 28],
 [0, 8, 16, 24, 32],
 [0, 9, 18, 27, 36]]

In [26]:

a=[]
for i in range(4):
    b=[]
    for j in range(len(matrix)):
        
        b.append(matrix [j][i])
    a.append(b)
a

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [28]:



transpose=[[j[i] for j in matrix] for i in range(4)]
transpose

[[1, 5], [2, 6], [3, 7], [4, 8]]

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27]]