# ----------------------------STRINGS--------------------------------

In [2]:
s='hello world'
s

'hello world'

In [3]:
s

type(s)

str

# ---------------------INDEXING--------------------------

In [6]:
s

'hello world'

In [10]:
len(s)

11

In [14]:
s[11]

IndexError: string index out of range

# ---------------------------------SLICING-----------------------------
#SYNTAX VARIABLENAME[STARTPOINT:ENDPOINT(N-1):JUMP OR DIRECTION]

# ------FORWARD SLICING-------------

In [15]:

s[1:7]

'ello w'

In [16]:
s[0:8:2]

'hlow'

# --------BACKWARD SLICING---------------

In [17]:
s

'hello world'

In [19]:
s[5::-1]

''

# --------------------------------Creating a String------------------

# -In Python, either single quote (‘) or double quotes (“) must be used while creating a string.

# Single word

In [20]:

a='hello'
a

'hello'

# Entire phrase

In [21]:
 
b= 'This is also a string'
b

'This is also a string'

# We can also use double quote

In [23]:

c="String built with double quotes"
c

'String built with double quotes'

# Be careful with quotes!

In [24]:
d='I'm using single quotes, but will create an error'
d

SyntaxError: invalid syntax (<ipython-input-24-240bd148005d>, line 1)

In [25]:
e="Now I'm ready to use the single quotes inside a string!"
e

"Now I'm ready to use the single quotes inside a string!"

In [31]:
planet="jupiter"
radius=12800

In [30]:
print("the planet earth having radius is 6400km")

the planet earth having radius is 6400km

In [34]:


print("{}the planet {} having radius  is km".format(planet,radius))

jupiterthe planet 12800 having radius  is km

# ...........................string concatenate.....................
# CONCATENATE MERELY WHEN BOTH ARE STRINGES

In [36]:
"stephen"+"hassan"+"nistha"

'stephenhassannistha'

In [39]:
"stephen"+str(4)

'stephen4'

In [ ]:


s="ESHANK"+ str(4)
s

In [ ]:
"ABHI"  +   "NIRB"

In [ ]:
"eshank" + 4

# ----------built-in string handling method--------------------

In [47]:
s

'hello'

In [68]:
s=" "

In [69]:
s.isalnum()

False

In [50]:
s.isalpha()

False

In [51]:
s.isdigit()

True

In [55]:
s.islower()

False

In [58]:
s.istitle()

False

In [59]:
s.isupper()

False

In [73]:
s="hello4"

In [74]:
s.endswith("5")

False

In [62]:
s.startswith("h")

True

In [75]:
my_st="SKILL65"
my_name="65"
print(my_st.isalpha() and my_name.isalnum())

False

In [76]:
s.isupper()

False

# .........................string is not mutable(IMMUTABLE).....................

In [77]:
s

'hello4'

In [78]:



s[0]="q"

TypeError: 'str' object does not support item assignment

# ...............................strings in built functions.....................

In [79]:
s

'hello4'

In [80]:

s.upper()

'HELLO4'

In [81]:
s.lower()

'hello4'

In [82]:
s.title()

'Hello4'

# ...............................strip function......................

In [83]:


s="     hello$ world  "
s.strip()

'hello$ world'

In [85]:
s.lstrip()

'hello$ world  '

In [ ]:
s.lstrip()

# ...............................split function......................................

In [92]:
s="helolo worold"

s.split()

['helolo', 'worold']

In [93]:
s.split("o")

['hel', 'l', ' w', 'r', 'ld']

In [97]:
s.split("o",maxsplit=1)

['hel', 'lo worold']

In [98]:
s1="well#right#good"
s1.split("#")

['well', 'right', 'good']

# .......................location and counting............................

In [101]:
s

'helolo worold'

In [102]:
s.count("o")

4

In [109]:
s.find("z")

-1

# ...................................Replace..........................

In [112]:

a="hello world"

In [113]:
a

'hello world'

In [114]:
a.replace("h","q")

'qello world'

In [115]:
a

'hello world'

In [116]:
a=a.replace("h","q")

a

'qello world'

# ....................................join.............................

In [121]:



a=""
b=["n","a","v","e","e","n"]

a=a.join(b)

AttributeError: 'int' object has no attribute 'join'

In [120]:
a

'naveen'